body
{
	background:#0ff000;
}

#matrix
{
	background:#6aa8ff;
	width: 800px;
	height: 600px;
	
}

.matrixButton
{
	background:#FF00FF;
	width:10px;
	height:10px;
	position:relative;

}
