body
{
	background:#0ff000;
}

#matrix
{
	position: relative;
	background:#6aa8ff;
	width: 800px;
	height: 600px;
	
}

.matrixButtOn
{
	background:#FFFFFF;
	width:25px;
	height:25px;
	position:absolute;
}

.matrixButtOff
{
	background:#000000;
	width:25px;
	height:25px;
	position:absolute;
}

.scrubber
{
	background:#FF0000;
	width:30px;
	height:600px;
	position:absolute;
}

.beginButton 
{
	background:#300030;
	width:800px;
	height:600px;
	position:absolute;
}